.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 64px 64px 44px;
	border-radius: 10px;
	background: var(--grayFC);
}

.img {
	position: absolute;
	top: -120px;
	right: 0;
	height: 193px;
	width: 179px;
}

.title {
	margin: 0 0 32px;
	font-size: 42px;
	line-height: 1.19;
}

.input {
	margin-bottom: 16px;
}

.submitBtn {
	width: 100%;
	margin-top: 16px;
  margin-bottom: 8px;
}
