.li {
  list-style-type: none;
}

.btn {
  min-height: 204px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition:
    outline 0.1s ease-in-out,
    filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.btn:focus-visible {
  outline: 4px solid #ffaa60;
  box-shadow: 10px 5px 5px #ffaa60;
}

.li:nth-child(1) {
  animation-duration: 0.5s;
  animation-name: appearingLeft;
}

.li:nth-child(2) {
  animation-duration: 0.5s;
  animation-name: appearingLeft;
}

.li:nth-child(3) {
  animation-duration: 0.5s;
  animation-name: appearingLeft;
}

.li:nth-child(4) {
  animation-duration: 0.5s;
  animation-name: appearingLeft;
}

.li:nth-child(5) {
  animation-duration: 0.5s;
  animation-name: appearingRight;
}

.li:nth-child(6) {
  animation-duration: 0.5s;
  animation-name: appearingRight;
}

.li:nth-child(7) {
  animation-duration: 0.5s;
  animation-name: appearingRight;
}

.li:nth-child(8) {
  animation-duration: 0.5s;
  animation-name: appearingRight;
}

.h3 {
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  color: var(--grayFC);
  transition: all 1s ease-in-out;
  animation-duration: 1s;
  animation-name: appearingBottom;
}

.isChecked {
  outline: 4px solid #ffaa60;
  filter: grayscale(0) brightness(100%);
}

.isChecked .h3 {
  margin-right: 16px;
}

.icon {
  animation-duration: 0.3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    width: 0;
  }

  to {
    opacity: 100%;
    width: 40px;
  }
}

@keyframes slideout {
  from {
    opacity: 1;
    width: 40px;
  }

  to {
    opacity: 0;
    width: 0;
  }
}

@keyframes appearingRight {
  from {
    transform: translateX(1000px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes appearingLeft {
  from {
    transform: translateX(-1000px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes appearingBottom {
  from {
    transform: translateY(500px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
